body {

width: 1200px;
margin: 0 auto;
padding: 0 22px 22px 22px;
border: 5px solid white;
background-image: url(i.jpg)









}

h1 {
    color: White;
font-weight: 500;
font-stretch: expanded;
font-style: oblique;
font-family: "Arial";
font-size: x-large;






}

p {
    color: White;
font-weight: 700;
font-stretch: normal;
font-style: oblique;
font-family: "Times New Roman";
font-size: medium;


} 

li { color: White;
font-weight: 300;
font-stretch: normal;
font-style: oblique;
font-family: "Verdana";
font-size: medium;


}

#clock{
    color: #FFFFFF;
 font-weight: bold;
  font-size: 100px;
}